.service-block {
  margin-top: 140px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(39, 39, 41, 1);
}
.content {
  width: calc(100% - 400px);
  max-width: 1200px;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.content h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
}
.card-block {
  margin-top: 40px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width:1440px){
    .content{
        width: calc(100% - 300px);
    }
}